<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{error}} | Workflow Max -> Resource Guru</title>

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>

	<h1>
		{{error}}
	</h1>
	<p>
		{{message}}
	</p>
  
</body>
</html>