<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
	
	<title>Workflow Max -> Resource Guru</title>
	<link rel="stylesheet" href="/stylesheets/tether/tether.min.css">
	<link rel="stylesheet" href="/stylesheets/tether/tether-theme-arrows.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css?v=1.0">
</head>

<body>

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
<!-- 
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Workflow Max &amp; ResourceGuru</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="#">Logout</a>
              </nav>
            </div>
          </div> -->

          <div class="inner cover">
            <h1 class="cover-heading"><img src="/images/guru.png" alt="Resource Guru"></h1>
            <p class="lead">First, let's get you authenitcated with Resource Guru.</p>
            <hr>
            <a href="/auth/resourceguru/" class="btn btn-lg btn-secondary">Connect</a>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Integration by <a href="http://webantic.co.uk" target="_blank">Webantic</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
	
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="/javascripts/tether.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/main.js"></script>
  
</body>
</html>